/mvnw text eol=lf
*.cmd text eol=crlf

# Ignore HTML build files
/build/* linguist-detectable=false
/dist/* linguist-detectable=false

# Mark backend Java code as detectable
*.java linguist-detectable=true



